---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props;
---


<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
        <meta name="description" content={description} />
		<link rel="icon" type="image/x-icon" href="/favicon.svg" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    import('../scripts/observe.js').then(({ setupIntersectionObserver }) => {
      setupIntersectionObserver();
    });
  });
</script>
